
@model IEnumerable<BookDTO>

@{
    ViewBag.Title = "Books";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            <a asp-action="BookCreate" class="btn btn-outline-primary mb-3">
                <i class="fa fa-plus"></i> Add new book
            </a>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BookId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Author)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RealeseYear)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookGenre)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RealeseYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookGenre)
                            </td>
                            <td>
                                <a asp-action="BookUpdate" class="btn btn-warning" asp-route-bookId="@item.BookId">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <a asp-action="BookDelete" class="btn btn-danger" asp-route-bookId="@item.BookId">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-book fa-10x"></i>
        </div>
    </div>
</div>

